.openIcon {
    transition: all 0.3s;
}

.openIconActive {
    transform: rotate(180deg);
    z-index: 1;
}

.cardBody {
    display: none;
    padding: 15px;
}

.cardBody p:not(:last-child) {
    margin-bottom: 10px;
}

.card {
    border: 2px solid #CC2222;
    margin-bottom: 15px;
    border-radius: 15px;
}

.Icons {
    gap: 10px;
    display: flex;
    align-items: center;
}

.accordionActive .cardBody {
    display: block;
}

.cardHeader {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #CC2222;
    display: flex;
    color: #fff;
    justify-content: space-between;
    border-radius: 10px;
}
