.head {
    margin-top: 10px;
    color: #A6A6A6;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.form {
    border: 1px solid #CCCCCC;
    padding: 33px 68px;
    border-radius: 55px;
    margin-top: 15px;
}

.flex__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
    width: 100%;
}

.input {
    display: block;
    margin-bottom: 20px;
    margin-right: 10px;
}

.form__button {
    background-color: #CC2222;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 13px 36.5px;
    text-transform: uppercase;
    align-self: center;
    cursor: pointer;
    transition: 0.3s;
}

.form__button:hover {
    box-shadow: 0px 0px 15px 5px #CC2222;
}

@media (max-width: 500px) {
    
    .head {
        font-size: 14px;
    }

    .form {
        padding: 0px ;
        border: none;
    }

    .input {
        width: 100%;
    }

    .form__button  {
        font-size: 16px;
        padding: 13px 20px;
    }
}