.Header {
    display: flex;
    padding: 18px 23px 18px 23px;
    justify-content: space-between;
    align-items: center;
    background-color: #CC2222;
    width: 100%;
}

.authorization {
    display: flex;
    gap: 10px;
}

.authorization__link {
    cursor: pointer;
    transition: .3s;
    color: #fff;
}

.authorization__link:hover {
    text-shadow: #fff6dd 0 0 7px;
}

.header__logo {
    width: 100%;
    max-width: 165px;
}